
body {
	font-size: 1.35em;
	font-family: 'Varela Round', sans-serif;

	/* background: #e8e9e9; */
	padding: 25px;
}
.container2 {
	box-shadow: 0px 30px 100px #cccccc;
  display: flex;
  /* height: 20%; */
	padding: 20px;
	background: radial-gradient(circle at top, #E0F7FA, #00ACC1);
  border-radius: 50px;
  height: 100vh;
	/* margin: 500px auto; */
  /* box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1); */
  flex-direction: column;

}
.item-1 {

	color: grey;
	/* padding: 60px; */
	/* margin: 20px; */
	/* background: #3db5da; */
	border-radius: 3px;
  flex-direction: column;
}

.item-1 img {
  justify-content: center;
  display: block;
 margin: 0 auto;
 height: auto;
  width: 40%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;
border-radius: 50%;
}
.item-2 {
	display: flex;
	justify-content: center;
}
.info {
	display: flex;
	justify-content: center;
}
.item-4{
	display: flex;
	justify-content: center;
}
.item-4 img{
	width: 40px;
	height: 40px;
}
.item-5 {
	display: flex;
	justify-content: center;
	text-align: center;
}
.item-6{
	display: flex;
	justify-content: center;
	text-align: center;
}
